* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    background-color: white;
}

header video {
    /* min-height: 70vh; */
    /* max-height: 125vh; */
    height: 101vh;
}

aside nav {
    background-color: #fff;
    margin-bottom: 5px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
}

aside {
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 2px;
    border-bottom: 1px solid #ededed;
}

aside a {
    padding: 5px;
    color: black;
    text-decoration: none;
    transition: 1s;
    font-family: 'Rubik', sans-serif;
    margin-left: 1px;
    margin-right: 1px;
}

body {
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    background: url(../image/back2.png);
    background-size: cover;
}

main {
    height: 100vh;
    margin-top: auto;
    margin-bottom: auto;
    overflow-y: scroll;
    /* padding-bottom: 30px; */
    background-color: #fff;
    padding-top: 5px;
}

aside a:hover {
    background-color: whitesmoke;
}

::-webkit-scrollbar {
    width: 0px;
}

.cont {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.cont h2 {
    font-family: 'Noto Sans Display', sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 3px;
    border-bottom: 3px solid #000;
    width: max-content;
    margin-top: 5px;
}

.cont #article1 img {
    float: left;
    height: 140px;
    border-radius: 10px;
}

#article1 {
    margin-top: 20px;
}

.cont #article1 p {
    /* float: right; */
    /* display: flex; */
    margin-left: 150px;
}

.cont #article2 img {
    float: right;
    height: 140px;
    border-radius: 10px;
    margin-left: 15px;
}

.cont #article2 p {
    /* float: left; */
    /* display: flex; */
}

@media(max-width:400px) {
    header video {
        height: 75vh;
        visibility: hidden;
    }
    header {
        background: url(./image/The\ Great\ scientist.gif) no-repeat;
        background-size: cover;
    }
    body {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width:700px) {
    aside a {
        font-size: 10px;
    }
}

@media(max-width:900px) {
    aside a {
        font-size: 10px;
    }
}

@media(max-width:850px) {
    aside a {
        font-size: 8px;
    }
}

@media(max-width:600px) {
    aside a {
        font-size: 6px;
    }
}

@media(max-width:500px) {
    aside a {
        font-size: 4px;
    }
}