* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    background-color: white;
}

header video {
    /* min-height: 70vh; */
    /* max-height: 125vh; */
    height: 101vh;
}

aside nav {
    background-color: #fff;
    margin-bottom: 5px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
}

aside {
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

aside a {
    padding: 5px;
    color: black;
    text-decoration: none;
    transition: 1s;
    font-family: 'Rubik', sans-serif;
}

body {
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    background: url(./image/back2.png);
    background-size: cover;
}

main {
    height: 100vh;
    margin-top: auto;
    margin-bottom: auto;
    overflow-y: scroll;
    padding-bottom: 30px;
    background-color: #fff;
    padding-top: 5px;
}

::-webkit-scrollbar {
    width: 1px;
    background-color: cornflowerblue;
}

.cont {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.cont p {
    margin-top: 7px;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 15px;
}

.cont article {
    margin-top: 10px;
}

.cont h2 {
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 22px;
}

@media(max-width:400px) {
    header video {
        height: 90vh;
        visibility: hidden;
    }
    header {
        background: url(./image/The\ Great\ scientist.gif);
        background-size: cover;
    }
    body {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width:700px) {
    aside a {
        font-size: 10px;
    }
}

@media(max-width:500px) {
    aside a {
        font-size: 6.7px;
    }
}